$primary:#1abc9c;
$color-success:#67C23A;
$color-warning:#E6A23C;
$color-danger:#F56C6C;
$color-info:#909399;

.full-width {
  width: 100% !important;
}
.tree-border{
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}

a {
  text-decoration:none;
  color: cornflowerblue;
  cursor: pointer;
}

.searchBtn{
  margin-left: 10px;
}

.header-search-item{
  margin: 0 10px 0 40px;
}
.header-search-other{
  margin: 0 5px;
}

.headerBarBtn{
  float: right;
  //margin-top: 10px;
  margin-left: 6px;
}

