::v-deep .el-table__body-wrapper::-webkit-scrollbar {
    height: 8px !important;
}

::v-deep .el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background: #dcdcdc !important;
}

::v-deep .el-table__body-wrapper::-webkit-scrollbar-track {
    background: transparent !important;
}