<template>
  <!-- 科目指出基础信息 -->
  <div class="header">
    科目指出基础信息
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.header{
  margin: 5px;
  padding: 5px;
}
</style>