<template>
  <!-- 待执行业绩变更记录查询 -->
  <div class="header">待执行业绩变更记录查询</div>
</template>

<script>
export default {

}
</script>

<style scoped>
.header{
    margin: 5px;
    padding: 5px;
}
</style>
